.event {
  display: flex;
  align-items: center;

  &__info {
    flex: 3;
  }

  &__extra {
    margin: 10px;
    margin-bottom: 5px;
  }
}

.logo {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}
