.event {
  display: flex;
  align-items: center;

  &__info {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 3;

    p {
      color: #747474;
    }
  }

  &__count {
    margin-right: 10px;
  }

  &__extra {
    margin: 10px;
    margin-bottom: 5px;
  }
}

.logo {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
