<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form" [formGroup]="form" (ngSubmit)="createEvent()">
    <div class="form__controls">
      <ion-item>
        <ion-label position="floating">Event name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Start date</ion-label>
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          formControlName="startDate"
          max="2040"
          min="2020"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">End date</ion-label>
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          formControlName="endDate"
          max="2040"
          min="2020"
        ></ion-datetime>
      </ion-item>
    </div>

    <div class="form__buttons">
      <ion-button color="primary" expand="block" type="submit"
        >{{ editMode ? 'Update event': 'Create Event' }}</ion-button
      >
    </div>
  </form>
</ion-content>
