.segment {
  background-color: white;
  padding: 10px 15px;
  flex-grow: 2;
  text-align: center;

  &:first-of-type {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  &:last-of-type {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  &--selected {
    background-color: orange;
    color: white;
    font-weight: 600;
  }

  &__bar {
    display: flex;
  }

  &__container {
    padding: 10px 20px;
  }

  &__counters {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;

    .count {
      color: white;
      font-weight: 600;
      font-size: 20px;
      display: flex;
    }
  }
}

.banner {
  background-color: rgb(34, 138, 207);
  &__container {
    --padding-top: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-bottom: 0;
  }
}

.user {
  display: grid;
  grid-template-columns: 1fr max-content;

  &__button {
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    margin-left: 15px;

    &--small {
      height: 25px;
      width: 25px;
    }

    &--transparent {
      background-color: transparent !important;
    }

    &--danger {
      background-color: crimson;

      &.user__button--transparent {
        color: crimson;
      }
    }

    &--success {
      background-color: yellowgreen;

      &.user__button--transparent {
        color: yellowgreen;
      }
    }
  }

  &__labels {
    > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      color: #747474;
    }
  }

  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
      flex: none;
    }
  }
}
