<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="chevron-back-outline"></ion-icon>Events</ion-button
      >
    </ion-buttons>
    <ion-title>{{item ? item.name : 'Event'}}</ion-title>
    <ion-buttons *ngIf="isAdmin" slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon
          slot="icon-only"
          ios="ellipsis-horizontal"
          md="ellipsis-vertical"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="banner__container">
    <div class="banner">
      <div class="segment__container">
        <div class="segment__counters">
          <div class="count">{{ subscribedCount }}</div>
          <div class="count">{{ checkedInCount }}</div>
        </div>

        <div class="segment__bar">
          <div
            class="segment"
            (click)="subscribedVisibility = true"
            [ngClass]="{'segment--selected' : subscribedVisibility}"
          >
            Subscribed
          </div>
          <div
            class="segment"
            (click)="subscribedVisibility = false"
            [ngClass]="{'segment--selected' : !subscribedVisibility}"
          >
            Checked In
          </div>
        </div>
      </div>
    </div></ion-toolbar
  >

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>

  <ion-list>
    <ng-container *ngFor="let user of users | appFilter: searchText">
      <ion-item-sliding *ngIf="setUserVisiblilty(user)">
        <ion-item-options side="end" *ngIf="isAdmin">
          <ion-item-option color="danger" (click)="onDelete(user)">
            Delete
          </ion-item-option>
        </ion-item-options>

        <ion-item>
          <ion-label>
            <div class="user">
              <div class="user__labels">
                <h2>{{ user.firstName + ' ' + user.lastName }}</h2>
                <p>Euricom</p>
              </div>
              <div class="user__controls">
                <ng-container
                  *ngIf="(user.phoneNumber !== null || undefined || '') && (currentUser && currentUser._id !== user._id) && isAdmin"
                >
                  <a
                    [href]="createSms(user)"
                    class="user__button user__button--small"
                    target="_blank"
                  >
                    <ion-icon name="chatbox"></ion-icon>
                  </a>
                  <a
                    [href]="'tel:' + user.phoneNumber"
                    class="user__button user__button--small"
                  >
                    <ion-icon name="call"></ion-icon>
                  </a>
                </ng-container>
                <ng-container
                  *ngIf="currentUser && currentUser._id === user._id || isAdmin"
                >
                  <div
                    *ngIf="!user.checkedIn"
                    class="user__button user__button--success"
                    (click)="onCheckinClick(user)"
                  >
                    <ion-icon size="large" name="checkmark-outline"></ion-icon>
                  </div>

                  <div
                    *ngIf="user.checkedIn"
                    class="user__button user__button--danger"
                    (click)="onCheckinClick(user)"
                  >
                    <ion-icon size="large" name="close-outline"></ion-icon>
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ng-container>
  </ion-list>
</ion-content>
