<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()"
        ><ion-icon name="chevron-back-outline"></ion-icon>Events</ion-button
      >
    </ion-buttons>

    <ion-title>{{item ? item.name : 'Event'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <div class="segment__container">
      <div class="segment__counters">
        <div class="count">{{ subscribed }}</div>
        <div class="count">{{ checkedIn }}</div>
      </div>

      <div class="segment__bar">
        <div
          class="segment"
          (click)="showSubscribed(true)"
          [ngClass]="{'segment--selected' : subscribedVisibility}"
        >
          Subscribed
        </div>
        <div
          class="segment"
          (click)="showSubscribed(false)"
          [ngClass]="{'segment--selected' : !subscribedVisibility}"
        >
          Checked In
        </div>
      </div>
    </div>
  </div>

  <!-- TODO change template to render both lists, make component of user item -->

  <ng-container *ngIf="item && subscribedVisibility">
    <ion-list *ngFor="let user of users">
      <ion-item>
        <ion-label>
          <div class="user">
            <div class="user__labels">
              <h2>{{ user.firstName }} {{ user.lastName }}</h2>
              <p>Euricom</p>
            </div>
            <div class="user__controls">
              <a
                [href]="'mailto:' + user.email"
                class="user__button user__button--small"
                target="_blank"
              >
                <ion-icon name="mail"></ion-icon>
              </a>
              <a
                [href]="'tel:' + user.phoneNumber"
                class="user__button user__button--small"
              >
                <ion-icon name="call"></ion-icon>
              </a>
              <div
                *ngIf="user.checkedIn"
                class="user__button user__button--success user__button--transparent"
              >
                <ion-icon size="large" name="checkmark-outline"></ion-icon>
              </div>

              <div
                *ngIf="!user.checkedIn"
                class="user__button user__button--danger user__button--transparent"
              >
                <ion-icon size="large" name="close-outline"></ion-icon>
              </div>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="item && !subscribedVisibility">
    <ion-list *ngFor="let user of checkedInUsers">
      <ion-item>
        <ion-label>
          <div class="user">
            <div class="user__labels">
              <h2>{{ user.firstName }} {{ user.lastName }}</h2>
              <p>Euricom</p>
            </div>
            <div class="user__controls">
              <a
                [href]="'mailto:' + user.email"
                class="user__button user__button--small"
                target="_blank"
              >
                <ion-icon name="mail"></ion-icon>
              </a>
              <a
                [href]="'tel:' + user.phoneNumber"
                class="user__button user__button--small"
              >
              </a>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
